@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  padding: 1rem;
  display: flex;
  background-color: var(--secondary-color);
}

#form {
  display: flex;
}

#form h1 {
  color: #fff;
}

.search {
  position: absolute;
  right: 0;
  margin: 20px;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

main {
  display: flex;
  flex-wrap: wrap;
}

.movie img {
  width: 100%;
}

.movie {
  width: 300px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.movie-info {
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* padding-bottom: 2rem; */
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h2 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  /* transform: translateY(101%); */
  opacity: 0; /* Set opacity awal ke 0 */
  /* transition: transform 0.3s ease-in-out; */
  transition: opacity 0.3s ease-in-out;
}

.movie:hover .overview {
  opacity: 1;
  /* transform: translateY(0); */
}

.container .pagination {
  position: relative;
  height: 60px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  border-radius: 2px;
}
.container .pagination li {
  list-style-type: none;
  display: inline-block;
}
.container .pagination li a {
  position: relative;
  padding: 20px 25px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
.container .pagination li a:hover,
.container .pagination li.active a {
  background: rgba(255, 255, 255, 0.2);
}

/* CSS biasa */

/* Tablet dan perangkat dengan lebar layar lebih besar dari 768px */
@media screen and (min-width: 768px) {
  /* Atur tata letak header dan elemen lainnya */
  header {
    padding: 2rem;
  }

  .search {
    margin: 10px;
  }
}

/* Perangkat dengan lebar layar lebih besar dari 1024px */
@media screen and (min-width: 1024px) {
  /* Atur tata letak elemen lainnya */
}
