@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  padding: 1rem;
  display: flex;
  background-color: var(--secondary-color);
}

#form {
  display: flex;
}

#form h1 {
  color: #fff;
}

.search {
  position: absolute;
  right: 0;
  margin: 20px;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

main {
  display: flex;
  flex-wrap: wrap;
}


.container .pagination {
  position: relative;
  height: 60px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  border-radius: 2px;
}
.container .pagination li {
  list-style-type: none;
  display: inline-block;
}
.container .pagination li a {
  position: relative;
  padding: 20px 25px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
.container .pagination li a:hover,
.container .pagination li.active a {
  background: rgba(255, 255, 255, 0.2);
}

/* CSS biasa */

/* Tablet dan perangkat dengan lebar layar lebih besar dari 768px */
@media screen and (min-width: 768px) {
  /* Atur tata letak header dan elemen lainnya */
  header {
    padding: 2rem;
  }

  .search {
    margin: 10px;
  }
}

/* Perangkat dengan lebar layar lebih besar dari 1024px */
@media screen and (min-width: 1024px) {
  /* Atur tata letak elemen lainnya */
}
